@tailwind base;
@tailwind components;
@tailwind utilities;


/* --navy-blue: #16212c;
--white: #ffffff;
--golden-yellow: #f4d35e;
--golden-yellow-transparent: rgba(244, 211, 94, 0.1); */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  :root {
    --transparent-primary: rgba(244, 211, 94, 0.1);
  }
}
